doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Clase 11
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css')
body
    h2 List of products
    table.table
        thead
            tr
            th(scope='col') #
            th(scope='col') Nombre
            th(scope='col') Precio
            th(scope='col') Id
        tbody#tbody
            //- each prod in products
            //-     tr
            //-     th(scope='row')= prod.id
            //-     td= prod.producto
            //-     td= prod.precio
            //-     td= prod.id
    a(href=dir) Agregar productos
    script(src="/socket.io/socket.io.js")
    script.
        const socket = io();

        function render(prods) {
            let tBody = document.querySelector('#tbody');
            tBody.innerHTML = '';
            let table = ''

            prods.forEach((product, i) => {
                table += `
                    <tr>
                        <th scope='row'>${i + 1}</th>
                        <td>${product.producto}</td>
                        <td>${product.precio}</td>
                        <td>${product.id}</td>
                    </tr>
                `;
            })
            
            tBody.innerHTML = table;
        }
        socket.on('products', ({products}) => {
            console.log(products);
            render(products);
        })  